<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/a/appdeploy/logs/ssp.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p  %c{2} - %m%n" />
        </layout>
        <param name="BufferedIO" value="true" />
        <param name="BufferSize" value="8192" />
    </appender>
    <appender name="reqLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/a/appdeploy/logs/ssp_request.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
        <param name="BufferedIO" value="true" />
        <param name="BufferSize" value="8192" />
    </appender>
    <appender name="firstJumpAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/a/appdeploy/logs/ssp_firstjump.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
        <param name="BufferedIO" value="true" />
        <param name="BufferSize" value="8192" />
    </appender>

    <appender name="JmonitorAppender"
              class="com.alibaba.alimonitor.jmonitor.plugin.log4j.JMonitorLog4jAppender">
    </appender>

    <logger name="reqLogger" additivity="false">
        <level value="info" />
        <appender-ref ref="reqLogAppender" />
    </logger>
    <logger name="firstJumpLogger" additivity="false">
        <level value="info" />
        <appender-ref ref="firstJumpAppender" />
    </logger>
    <!-- Root Logger -->

    <root>
        <level value="error" />
        <appender-ref ref="fileAppender" />
        <appender-ref ref="JmonitorAppender" />
    </root>


</log4j:configuration>